<h1><%= t(".title") %></h1>

<%= form_with url: login_path do |form| %>
  <div>
    <%= form.label :email_address, t(".email_address") %>
    <%= form.text_field :email_address %>
  </div>

  <div>
    <%= form.label :password, t(".password") %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit t(".login") %>
  </div>
<% end %>
