<%= form_with model: product do |form| %>
    <% if form.object.errors.any? %>
      <p class="error"><%= form.object.errors.full_messages.first %></p>
    <% end %>
  
    <div>
      <%= form.label :name, t(".name") %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :description, t(".description") %>
      <%= form.rich_text_area :description %>
    </div>
  
    <div>
      <%= form.label :image, t(".image") %>
      <%= form.file_field :image %>
    </div>
  
    <div>
      <%= form.label :in_stock, "In stock" %>
      <%= form.check_box :in_stock %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>